name: Build and Push All Services to ECR

on:
  push:
    branches: [main]
    paths: ['services/**']
  workflow_dispatch:

jobs:
  build-and-push:
    strategy:
      matrix:
        include:
          - servicePath: services/employee-management-service
            imageName: hrms/employee-service
          - servicePath: services/leave-management-service
            imageName: hrms/leave-service
          - servicePath: services/attendance-management-service
            imageName: hrms/attendance-service
          - servicePath: services/notification-service
            imageName: hrms/notification-service
          - servicePath: services/audit-service
            imageName: hrms/audit-service
          - servicePath: services/compliance-service
            imageName: hrms/compliance-service
          - servicePath: services/user-management-service
            imageName: hrms/user-service
          - servicePath: services/hrms_frontend
            imageName: hrms/frontend

    uses: ./.github/workflows/reusable-build-push.yml

    with:
      servicePath: ${{ matrix.servicePath }}
      imageName: ${{ matrix.imageName }}
      registry: 475936984863.dkr.ecr.ap-south-1.amazonaws.com
      region: ap-south-1

    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
